@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", "Josefin", serif;
  box-sizing: border-box;
  word-break: keep-all;
}

#root {
  color: #fff;
  box-sizing: border-box;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#root .App {
  height: 700px;
  position: relative;
  background-color: #222;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
#root .App.scroll {
  padding-left: 20px;
  overflow-y: scroll;
}
#root .App.scroll::-webkit-scrollbar {
  width: 20px;
}
#root .App.scroll::-webkit-scrollbar-thumb {
  background-color: #666;
  border: 5px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}
#root .App.scroll::-webkit-scrollbar-track {
  margin-top: 100px;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  color: #fff;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#header h1 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
#header #search input {
  border-radius: 10px;
  padding: 0 5px;
  margin-right: 10px;
  transition: all 0.25s ease-in-out;
}

.container {
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
}
.container .title {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.container .title strong {
  font-weight: 700;
}
.container .title span {
  font-size: 14px;
  font-weight: 300;
}
.container .movieList {
  display: flex;
  flex-wrap: wrap;
}
.container .movieList li {
  width: calc(33% - 8px);
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 4px;
}
.container .movieList li:hover .info .title {
  transform: translateY(-10px);
}
.container .movieList li:hover .info .release {
  height: 100%;
  opacity: 1;
  transform: translateY(0);
}
.container .movieList li:hover .img .point {
  display: flex;
  opacity: 1;
}
.container .movieList li:hover .img:before {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);
}
.container .movieList li .img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #fff;
}
.container .movieList li .img:before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
}
.container .movieList li .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .movieList li .img .point {
  display: flex;
  justify-content: center;
  transition: opacity 0.25s ease-in-out;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 12px;
  font-weight: 900;
  position: absolute;
  opacity: 0;
  top: 10px;
  left: 10px;
  z-index: 99;
  color: #fff;
  background-color: rgb(81, 123, 221);
  border-radius: 100%;
}
.container .movieList li .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
}
.container .movieList li .info .titleBox .title {
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
}
.container .movieList li .info .titleBox .release {
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  display: block;
  transform: translateY(20px);
  opacity: 0;
}
.container .movieList li .info .overview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.container .movieList li .info .overview .desc {
  display: -webkit-box;
  height: 4.5em;
  overflow: hidden;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.detail {
  width: 100%;
  text-align: left;
}
.detail#profileDetail .info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.detail .container {
  padding: 100px 40px 40px;
}
.detail .container .title {
  margin-bottom: 20px;
  text-align: center;
}
.detail .container .img {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.detail .container .img::before {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 1px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
}
.detail .container .img::after {
  display: block;
  position: absolute;
  content: "";
  bottom: -50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(40px);
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
}
.detail .container .img img {
  vertical-align: bottom;
}
.detail .container .titleBox {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  position: relative;
  margin-top: 20px;
}
.detail .container .titleBox .keywords {
  display: flex;
}
.detail .container .titleBox .keywords .keyword {
  display: block;
  padding: 10px;
  background-color: #fff;
  color: #111;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 5px;
  word-break: keep-all;
  font-size: 10px;
  letter-spacing: -1px;
  margin: 0 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detail .container .titleBox h3 {
  font-weight: 700;
}
.detail .container .titleBox .originTitle {
  font-size: 12px;
  color: #999;
  margin-bottom: 20px;
}
.detail .container .titleBox .release {
  font-size: 12px;
  margin-bottom: 20px;
}
.detail .container .summary dl {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.detail .container .summary dl.column {
  flex-direction: column;
  align-items: start;
  text-transform: uppercase;
  font-size: 14px;
}
.detail .container .summary dl.column dt {
  margin-bottom: 10px;
}
.detail .container .summary dl dt {
  color: #999;
  display: block;
  width: 100px;
}
.detail .container .profileList {
  margin: 10px 0;
  display: flex;
}
.detail .container .profileList .swiper-wrapper {
  width: 500px;
}
.detail .container .profileList .swiper-wrapper .item {
  width: 120px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.detail .container .profileList .swiper-wrapper .item::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 100%);
}
.detail .container .profileList .swiper-wrapper .item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail .container .profileList .swiper-wrapper .item span {
  display: block;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  height: 2.4em;
  overflow: hidden;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  word-break: break-all;
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.detail .container .overview {
  margin-bottom: 30px;
}
.detail .container .overview .desc {
  font-size: 14px;
  display: -webkit-box;
  height: 7.5em;
  overflow: hidden;
  line-height: 1.5;
  -webkit-line-clamp: 5;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  word-break: break-all;
  margin-bottom: 20px;
}
.detail .container .overview .vote {
  font-size: 14px;
}
.detail .container .overview .vote strong {
  font-size: 18px;
}

.btns {
  position: absolute;
  left: 5%;
  top: 100px;
}
.btns .btn {
  cursor: pointer;
  border: none;
  background: none;
  color: #fff;
}

#footer {
  width: 100%;
  font-size: 12px;
  color: #999;
  margin: 20px 0;
}
#footer strong {
  font-weight: 900;
}

@media all and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}