@import "vars";
@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", "Josefin", serif;
  box-sizing: border-box;
  word-break: keep-all;
}

#root {
  width: 600px;
  height: 700px;
  overflow: hidden;
  padding-top: 80px;
  color: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #222;
  @include absCenter(true, true);
  .App {
    height: 100%;
    padding-bottom: 40px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  background-color: #111;
  backdrop-filter: blur(10px);
  h1 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.container {
  height: 100%;
  margin: 0 auto;
  padding-left: 20px;
  position: relative;
  &.scroll {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 20px;
    }
    &::-webkit-scrollbar-thumb {
      border: 5px solid transparent;
      background-color: #666;
      border-radius: 10px;
      background-clip: padding-box;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
  .title {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    strong {
      font-weight: 700;
    }
  }
  .movieList {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(33% - 8px);
      border-radius: 15px;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.1);
      text-align: left;
      margin: 4px;
      &:hover {
        .info {
          .release {
            display: block;
            opacity: 1;
          }
        }
        .img .point {
          display: flex;
          opacity: 1;
        }
        .img:before {
          background: rgb(0, 0, 0);
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);
        }
      }
      .img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        background-color: #fff;
        &:before {
          @include pseudo;
          width: 100%;
          height: 100%;
          transition: background 0.3s ease-in-out;
          background: rgb(0, 0, 0);
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .point {
          display: flex;
          justify-content: center;
          transition: opacity 0.25s ease-in-out;
          align-items: center;
          width: 30px;
          height: 30px;
          font-size: 12px;
          font-weight: 900;
          position: absolute;
          opacity: 0;
          top: 10px;
          left: 10px;
          z-index: 99;
          color: #fff;
          background-color: rgb(81, 123, 221);
          border-radius: 100%;
        }
      }
      .info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 18px;
        font-weight: 900;
        line-height: 1.5;
        .release {
          transition: opacity 0.3s ease-in-out;
          font-size: 12px;
          font-weight: 300;
          margin-bottom: 10px;
          display: none;
          opacity: 0;
        }
      }
      .overview {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        .desc {
          @include multiEllipsis(3, 1.5);
        }
      }
    }
  }
}

#detail {
  width: 100%;
  height: 100%;
  text-align: left;
  .container {
    padding: 0 60px;
    .title {
      margin-bottom: 20px;
      text-align: center;
    }
    .img {
      position: relative;
      overflow: hidden;
      text-align: center;
      &::before {
        @include pseudo;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
      }
      &::after {
        @include pseudo;
        bottom: -50%;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(40px);
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
      }
      img {
        vertical-align: bottom;
      }
    }
    .titleBox {
      width: 100%;
      display: flex;
      align-items: center;
      padding-bottom: 40px;
      position: relative;
      margin-top: 20px;
      h3 {
        font-weight: 700;
      }
      .originTitle {
        font-size: 12px;
        color: #999;
      }
      .release {
        bottom: 0;
        left: 0;
        position: absolute;
        margin-bottom: 20px;
        font-size: 12px;
      }
    }
    .summary {
      dl {
        display: flex;
        align-items: center;
        margin: 10px 0;
        &:nth-child(6),
        &:nth-child(7) {
          flex-direction: column;
          align-items: start;
          text-transform: uppercase;
          font-size: 14px;
          dt {
            margin-bottom: 10px;
          }
        }
        dt {
          color: #999;
          display: block;
          width: 100px;
        }
      }
    }
    .profileList {
      margin: 10px 0;
      display: flex;
      position: relative;
      .swiper-wrapper {
        width: 100%;
        &::before {
          @include pseudo;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          pointer-events: none;
          background: rgb(0, 0, 0);
          background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        }
        .swiper-slide {
          width: 120px !important;
          height: 200px;
          margin: 0 5px;
          border-radius: 10px;
          overflow: hidden;
          position: relative;
          &::before {
            @include pseudo;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          span {
            display: block;
            width: 100%;
            text-align: center;
            @include multiEllipsis(2, 1.2);
            position: absolute;
            bottom: 10px;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
          }
        }
      }
    }
    .overview {
      .desc {
        font-size: 14px;
        @include multiEllipsis(5, 1.5);
        margin-bottom: 20px;
      }
      .vote {
        font-size: 14px;
        strong {
          font-size: 18px;
        }
      }
    }
  }
}

.btns {
  position: absolute;
  left: 10%;
  top: 0;
  .btn {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    span {
      display: block;
      width: 100%;
      height: 2px;
      margin: 2px 0;
      border-radius: 2px;
      background-color: #fff;
      &:nth-child(2) {
        width: 50%;
      }
      &:nth-child(3) {
        width: 70%;
      }
    }
  }
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 15px;
  font-size: 12px;
  color: #999;
  @include absCenter(true, false);
  strong {
    font-weight: 900;
  }
}

@media all and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
